@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

:root{
  --mainFont: 'Montserrat', sans-serif;
}

body{
  padding: 0;
  margin: 0;
  font-family: var(--mainFont);
  background-color: #fff;
  color: #000;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.page-grid{
	display: flex;
}

.main-nav{
	width: 30%;
  background-color: #ec2a5e;
  color: #fff;
  display: flex;
	align-items: center;
	height: 100vh;
	box-sizing: border-box;
	padding: 50px;
	position: relative;
	border-right: 4px outset #ec2a5e;
}
.main-nav nav, .nav-grid{
	width: 100%;
	height: 100%;
}
.nav-grid{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-menu{
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-menu li{
	display: block;
  font-size: 24px;
  line-height: 68px;
  text-transform: lowercase;
}
nav a{
  color: #fff;
  text-decoration: none;
}
nav .logo{
  text-transform: uppercase;
	margin: 0;
	align-self: flex-end;
	font-size: 44px;
}
.page-content{
	width: 70%;
	height: 100vh;
	box-sizing: border-box;
	padding: 0 50px;
}

.sliderContainer{
  position: relative;
  background-attachment: fixed;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.slide-drink{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.slide-drink h1{
	color: #232323;
	text-transform: uppercase;
	font-size: 52px;
	transition: .3s;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-transform: translateY(-100vh) rotate(180deg);
	        transform: translateY(-100vh) rotate(180deg);
}
.slide-drink.showtime h1{
	-webkit-animation: enterText 1s ease-out alternate 1, slowText 3s 1s linear alternate 1, exitText 1s 4s ease-in alternate 1;
	        animation: enterText 1s ease-out alternate 1, slowText 3s 1s linear alternate 1, exitText 1s 4s ease-in alternate 1;
}
.slide-drink img{
	height: auto;
	width: 100%;
	transition: 2s;
	-webkit-transform: translateY(100vh) rotate(180deg);
	        transform: translateY(100vh) rotate(180deg);
}
.slide-drink.showtime img{
	-webkit-animation: enterImg 1s ease-out alternate 1, slowImg 3s 1s linear alternate 1, exitImg 1s 4s ease-in alternate 1;
	        animation: enterImg 1s ease-out alternate 1, slowImg 3s 1s linear alternate 1, exitImg 1s 4s ease-in alternate 1;
}
@-webkit-keyframes enterImg{
	0%{
		-webkit-transform: translateY(100vh) rotate(180deg);
		        transform: translateY(100vh) rotate(180deg);
	}
	100%{
		-webkit-transform: translateY(10vh) rotate(30deg);
		        transform: translateY(10vh) rotate(30deg);
	}
}
@keyframes enterImg{
	0%{
		-webkit-transform: translateY(100vh) rotate(180deg);
		        transform: translateY(100vh) rotate(180deg);
	}
	100%{
		-webkit-transform: translateY(10vh) rotate(30deg);
		        transform: translateY(10vh) rotate(30deg);
	}
}
@-webkit-keyframes slowImg{
	0%{
		-webkit-transform: translateY(10vh) rotate(30deg);
		        transform: translateY(10vh) rotate(30deg);
	}
	100%{
		-webkit-transform: translateY(-10vh) rotate(-30deg);
		        transform: translateY(-10vh) rotate(-30deg);
	}
}
@keyframes slowImg{
	0%{
		-webkit-transform: translateY(10vh) rotate(30deg);
		        transform: translateY(10vh) rotate(30deg);
	}
	100%{
		-webkit-transform: translateY(-10vh) rotate(-30deg);
		        transform: translateY(-10vh) rotate(-30deg);
	}
}
@-webkit-keyframes exitImg{
	0%{
		-webkit-transform: translateY(-10vh) rotate(-30deg);
		        transform: translateY(-10vh) rotate(-30deg);
	}
	100%{
		-webkit-transform: translateY(-100vh) rotate(-180deg);
		        transform: translateY(-100vh) rotate(-180deg);
	}
}
@keyframes exitImg{
	0%{
		-webkit-transform: translateY(-10vh) rotate(-30deg);
		        transform: translateY(-10vh) rotate(-30deg);
	}
	100%{
		-webkit-transform: translateY(-100vh) rotate(-180deg);
		        transform: translateY(-100vh) rotate(-180deg);
	}
}
@-webkit-keyframes enterText{
	0%{
		-webkit-transform: translateY(-100vh) rotate(30deg);
		        transform: translateY(-100vh) rotate(30deg);
	}
	100%{
		-webkit-transform: translateY(-10vh) rotate(10deg);
		        transform: translateY(-10vh) rotate(10deg);
	}
}
@keyframes enterText{
	0%{
		-webkit-transform: translateY(-100vh) rotate(30deg);
		        transform: translateY(-100vh) rotate(30deg);
	}
	100%{
		-webkit-transform: translateY(-10vh) rotate(10deg);
		        transform: translateY(-10vh) rotate(10deg);
	}
}
@-webkit-keyframes slowText{
	0%{
		-webkit-transform: translateY(-10vh) rotate(10deg);
		        transform: translateY(-10vh) rotate(10deg);
	}
	100%{
		-webkit-transform: translateY(10vh) rotate(-10deg);
		        transform: translateY(10vh) rotate(-10deg);
	}
}
@keyframes slowText{
	0%{
		-webkit-transform: translateY(-10vh) rotate(10deg);
		        transform: translateY(-10vh) rotate(10deg);
	}
	100%{
		-webkit-transform: translateY(10vh) rotate(-10deg);
		        transform: translateY(10vh) rotate(-10deg);
	}
}
@-webkit-keyframes exitText{
	0%{
		-webkit-transform: translateY(10vh) rotate(-10deg);
		        transform: translateY(10vh) rotate(-10deg);
	}
	100%{
		-webkit-transform: translateY(100vh) rotate(-30deg);
		        transform: translateY(100vh) rotate(-30deg);
	}
}
@keyframes exitText{
	0%{
		-webkit-transform: translateY(10vh) rotate(-10deg);
		        transform: translateY(10vh) rotate(-10deg);
	}
	100%{
		-webkit-transform: translateY(100vh) rotate(-30deg);
		        transform: translateY(100vh) rotate(-30deg);
	}
}


.shop-container{
  display: flex;
	padding: 100px 0;
	height: 100vh;
	box-sizing: border-box;
}
.filter{
  flex: 1;
}
.products{
  flex: 3;
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	justify-content: space-around;
	align-items: flex-start;
}
.product{
	width: calc(100% / 2);
	box-sizing: border-box;
	padding: 10px 30px;
	border-bottom: 1px solid #232323;
}
.product-title{
	text-align: center;
	font-weight: 300;
}
.product-thumb{
  width: 100%;
	height: 350px;
	margin: 0 auto;
	background-color: gainsboro;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.product-meta{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.product-price{
	font-size: 30px;
	color: #d8214c;
}
.product-link{
	text-decoration: none;
	display: block;
	color: #fff;
	background:#d8214c;
	padding: 10px;
	transition: .3s;
}
.product-link:hover{
	background: #3c3b3b;
}
.filter ul li{
	display: table;
	padding-left: 25px;
	position: relative;
}
.filter ul li:hover, .filter-active{
	font-weight: 700;
}
.filter ul li::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background-color: #000;
}
.filter-all, .filter ul li{
	cursor: pointer;
}
.single-product{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}
.single-product .left-col,
.single-product .right-col{
	width: 48%;
}
.single-product .product-thumb{
	height: 450px;
}
.single-product .product-title{
	text-align: left;
	font-size: 40px;
	margin: 0;
	margin-bottom: 40px;
}
.product-description{
	font-size: 16px;
	line-height: 31px;
}
.single-product-wrapper{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.back-to-shop-btn a{
	text-decoration: none;
	background-color: #d8214c;
	display: inline-block;
	color: #fff;
	padding: 10px 25px;
	margin-bottom: 30px;
}

@media screen and (max-width: 1100px){
	.page-grid{
		flex-direction: column;
	}
	.main-nav, .page-content{
		width: 100%;
	}
	.main-nav{
		height: 20vh;
		border-right: unset;
		border-bottom: 4px outset #ec2a5e;
	}
	nav .logo h1{
		margin: 0;
	}
	.main-menu li{
		display: inline-block;
		margin: 0 15px;
	}
	.sliderContainer, .page{
		height: 100%;
	}
}
@media screen and (max-width: 800px){
	.shop-container{
		flex-direction: column;
		padding: 10px 0;
		height: auto;
	}
	.filter ul li{
		display: inline-block;
		padding: 0;
		margin: 8px;
	}
	.filter ul li::before{
		display: none;
	}
	.filter-all, select{
		margin-left: 40px;
	}
	.products{
		margin: 50px 0;
		overflow: hidden;
	}
	.single-product-wrapper{
		align-items: unset;
		margin: 50px 0;
	}
	.single-product{
		flex-direction: column;
	}
	.single-product .left-col, .single-product .right-col{
		width: 100%;
	}
}
@media screen and (max-width: 700px){
	.product{
		width: 100%;;
	}
}
@media screen and (max-width: 600px){
	.slide-drink{
		width: 100%;
	}
	.page-content{
		padding: 0 10px;
	}
}

@media screen and (max-width: 400px){
	.main-nav{
		padding: 50px 10px;
	}
	.main-menu{
		display: flex;
		flex-direction: column;
	}
}